/* @import-normalize; */
/* bring in normalize.css styles */

:root {
  --light-clr-1: #ffffff;
  --light-clr-2: #e1dcd9;

  --dark-clr-1: #191e29;
  --dark-clr-2: #132d46;
  --dark-clr-3: #696e79;

  --accent-clr-1: #01c38d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}